.header{
   width: 100vw;
   height: 100vh;
   background-image: url("../images/cover.jpeg");
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;


         &__menu{
            background-color: #6c933e;
         width: 50px;
         padding: 14px;
         position: fixed;
         top: 0;
         left: 0;
   }

         &__hero{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding-bottom: 45px;
         text-align: center;

         &--title{
         font-family: "Roboto Slab", serif;
         text-transform: uppercase;
         font-size: 1.875em;
         color: white;
         line-height: 50px;
         text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
         max-width: 456px;
   }
         &--text{
            font-family: "Roboto Slab", serif;
         color: white;
         font-size: 1rem;
         padding: 0 16px 16px;
   }
}
}

.scroll-down{
   width: 43px;
   height: 40px;
   background-color: white;
   padding: 9px;
   border-radius: 25px;
}

@media (min-width:768px){

   .header__hero{
       &--title {
       font-size: 4.688rem;
       line-height: 100px;
       padding-bottom: 50px;
       max-width: 750px;
       }
       &--text {
       font-size: 1.5rem;
       }
   }
   .scroll-down{
       width: 43px;
       height: 45px;
   }
}

@media (min-width:1200px){
   .header__hero{
       padding-bottom: 60px;
   }

   .header__hero--title{
       font-size: 6.25rem;
       line-height: 132px;
       max-width: 1521px;
   }
}