.section2{
    background-color: #d9e4cc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    text-align: center;
    align-items: center;
    gap: 24px;
    padding: 0px 50px 40px 50px;

        &__title{
        font-size: 1.25rem;
        line-height: 1.5;

    }

        &__subtitle{

        font-size: 1.125rem;
        }

        &__img{
            width: 11.4rem;
            height: 12.4rem;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0rem 0.4rem 0.4rem grey;

        }

        &__buttom{
            color: white;
            background-color: #6c933e;
        width: 200px;

        font-size: 1.25rem;
        font-weight: 500;
        line-height: 2.25;
        border-radius: 25px;
        margin: auto;
        text-decoration: none;

        &:hover{

            transition: all 0.4s ease-in-out;
            transform: scale(1.2, 1.2);
        }
    }
}



.p-section2 {
    font-size: 16px;
}

.h3-section2 {
    font-size: 30px;
}




@media (min-width:768px){

    .section2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;

        &__title{
        font-size: 1.75rem;
        line-height: 45px;
        grid-column: span 3;
    }
        &__subtitle{
        font-size: 1.5rem;
    }
        &__text{
        font-size: 1.25rem;
    }

.section2__buttom{
        grid-column: span 3;
        }
}
}