<footer class="footer">

    <a class="arrow" href="#header">
        <div class="arrow__buttom">
              <img class="arrow__img" src="images/ico-arrow.svg" alt="Enlace lleva al inicio">
        </div>
  </a>


    <nav>
      <ul class="footer__list">
        <li><a class="footer__list--link" href="https://adalab.es">Zapatillas</a></li>
        <li><a class="footer__list--link" href="https://adalab.es">Ropa</a></li>
        <li><a class="footer__list--link" href="https://adalab.es">Niño/a</a></li>
        <li><a class="footer__list--link" href="https://adalab.es">Destacados</a></li>
        <li><a class="footer__list--link" href="https://adalab.es">Tips</a></li>
      </ul>
    </nav>
  
    <nav>
      <ul class="footer__list">
        <li><a class="footer__list--link" href="https://adalab.es">Twitter</a></li>
        <li><a class="footer__list--link" href="https://adalab.es">Instagram</a></li>
        <li><a class="footer__list--link" href="https://adalab.es">Youtube</a></li>
      </ul>
    </nav>
  
    <div class="copy">
      <p>&copy;2023</p>
      <p>we <span>❤︎</span> run</p>
    </div>
  
  </footer>