<header class="header" id="header">

        <nav class="header__menu">
            <a href="https://adalab.es/">
            <img src="images/ico-menu.svg" alt="Menú de navegación"></a>
        </nav>
    
        <section class="header__hero">
            <h1 class="header__hero--title">COMIENZOS COMPARTIDOS</h1>
            <p class="header__hero--text">Todo lo que necesitan para volver al cole con ilusión</p>
        
        <div>
            <a href="#cole">
            <img class="scroll-down" src="images/ico-scroll-down.svg" alt="Enlace VUELTA AL COLE " name="cole"></a>
        </div>
        
        </section>
    
    </header>