<section>
    <div>
        <p>¡Prepáralos con tus marcas favoritas!</p>
        <h2>VUELTA AL COLE</h2>
        <figure>
            <img src="images/lpbts-mod05-img01-desk.png" alt="children1">
            <p>Mochilas escolares</p>
        </figure>
        <figure>
            <img src="images/lpbts-mod05-img03-mob.png" alt="children2">
            <p>Estuches</p>
        </figure>
        <figure>
            <img src="images/lpbts-mod05-img04-mob.png" alt="children3">
            <p>Bolsas de deporte</p>
        </figure>
        <button>Empezar ahora</button>
    </div>
</section>